.env

#-------------------------
# Writable folders (keep structure, ignore contents)
#-------------------------

# Cache
writable/cache/*
!writable/cache/.gitkeep
!writable/cache/index.html

# Logs
writable/logs/*
!writable/logs/.gitkeep
!writable/logs/index.html

# Session
writable/session/*
!writable/session/.gitkeep
!writable/session/index.html

# Uploads
writable/uploads/*
!writable/uploads/.gitkeep
!writable/uploads/index.html

# Debugbar
writable/debugbar/*
!writable/debugbar/.gitkeep
!writable/debugbar/index.html
Settigns NGINXnt/
